@import "../utilities/variables";

.primary {
  font-size: $font-size-1;
  border: 1px solid;
  color: black;

  &:before,
  &:after {
  }

  &:hover {

  }

  &:disabled {

  }

  &:active {

  }

  &:focus {

  }
}

.secundary {
  
}