@import "../utilities/variables";
@import "../utilities/functions";
@import "../utilities/mixins";

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: $font-weight;
  color: darken(black, 5%);
}

h1 {
  font-size: $font-size-15;
}

h2 {
  font-size: $font-size-14;
}

h3 {
  font-size: $font-size-13;
}

h4 {
  font-size: $font-size-12;
}

h5 {
  font-size: $font-size-11;
}

h6 {
  font-size: $font-size-10;
}

@each $key, $heading in $headings {
  .#{$key} {
    @each $name, $value in $heading {
      #{$name}: $value;
    }
  }
}
